---
import Layout from "../layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);
---

<Layout>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum
  orci velit. Maecenas sollicitudin est quis elementum facilisis. Mauris
  venenatis, mauris ac posuere pharetra, ante urna efficitur turpis, vel
  placerat felis purus ac diam. Orci varius natoque penatibus et magnis dis
  parturient montes, nascetur ridiculus mus. Nam pellentesque ac nisl suscipit
  congue.

  <hr />

  <h2>Latest Posts</h2>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        <p>{post.data.description}</p>
      </li>
    ))}
  </ul>
</Layout>
